.glow {
   position: absolute;
   width: 1977px;
   height: 172px;
   left: 0;
   bottom: 0;
   background: url('./assets/images/hero-section-glow-bottom.svg') no-repeat center/ cover;
   z-index: 2;
}
