@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&display=swap');
@import './lib/normalize.scss';
@import './lib/variables.scss';

body {
   width: 100vw;
   overflow-x: hidden;
   color: var(--text-color);
   font-size: var(--text-font-size);
   font-family: var(--main-font);
   font-weight: var(--font-weight-normal);
}

.line {
   width: 100%;
   height: 31px;
   background-color: var(--button-text-color);
}
